*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    list-style-type: none;
    text-decoration: none;
    scroll-behavior: smooth;
}
:root{
    --linkColor: #57606f;
    --linkColor: #f4f4f4;

    --smallFont: #1.3rem;
    --meduimFont:2rem;
    --bigFont:3rem;
}
body{
    color: #fff;
    background-color: #000;
    width: 100vw;
    /* background white also makes sense but also change text color */
    /* background-color: #fff; */
}


img {
    border: 0;
}

/*  utility classes */
.flex {
    display: flex;
}

.gradientText{
    background: linear-gradient(to right, #ff5858, #f857a6);
    -webkit-text-fill-color: transparent;
    background: #f857a6;
    -webkit-background-clip: text ;
    background-clip: text;

}
.textCenter{
    text-align: center;
}
.heading{
    font-size: var(--bigFont);
    margin-block: 1rem;
    margin-inline: auto;
    max-width: 70%;


}
section{
    /* width: 100%; */
    max-width: 90%;
    margin: 0 auto;
    padding: 1rem 0;
}
header{
    overflow:hidden;
    width: 100%;
}

.navbar{
    max-width: 1160px;
    padding: 1rem 2rem;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
    z-index:1000
}
.navbar .name{
    font-size: var(--smallFont);
}
.navbar .name h1 span{
    color: #f857a6;
}
.navlinks {
    gap: 1.5rem;
}
.navlinks li a{
    position: relative;
    font-size: var(--smallFont);
    color: var(--linkColor);
    transition: all 0.5s ease;
}

.navbar li a::before{
    content: "";
    position: absolute;
    top: -70%;
    left: 40%;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    transition:  all 0.5s ease;
}

.navlinks li a:hover::before{
    background: #ff6b81;
}

.navbar li a.active::before{
    background: #ff6b81;
}


.navlinks li a:hover{
    color: #f857a6;
}


.navlinks li a.active{
    color: #f857a6;
}

.hero{
    align-items: center;
    justify-content: center;
}

.heroImage{
    width: 500px;
    height: 550px;
    border-radius: 50%;
    /* box-shadow: 0 10px 10px #ff6b81, */
    /* 0 20px 20px #ff6b81; */
    /* box-shadow: 0 10px 10px #363636, */
    /* 0 20px 20px #848383; */
    cursor: pointer;
    transition:all 0.6s ease;
    margin-block: 5rem;
}

.heroImage:hover{
    box-shadow: 0 15px 15px #ff6b81,
    0 20px 20px #ff6b81;
    transform: translateY(-20px);
}
.heroImage Img{
    width: 100%;
    height: 500px;
    object-fit: contain;
    /* background: #fff; */
    border-radius: 50%;
    height: 100%;
}

.heroContent .subHeading{
    font-weight:600px;
    font-size: 14px;
    letter-spacing: 3px;
    text-transform: uppercase;
    /* might decide to leave it white */
    color: #ff6b81;
    margin-bottom: 0.4rem;
}

.heroContent h1 {
    /* font-weight: 600;
    font-size: 14px;
    letter-spacing: 3px; */
    font-size: 60px;
    margin-bottom: 1.3rem;

}

.heroContent h2{
    font-size: 30px;
    font-weight: 400;
}

.btnGroup{
    margin-top: 1rem;
}

.btn{
    cursor: pointer;
    display: inline-block;
    border-radius: 40px;
    padding: 1rem 2rem;
    box-shadow: 0 10px 22px #ff5858;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    /* background: #ff5858; */
    background: #ff6b81;

    color: white;
    /* background: #fff; */
    /* color:#ff5858; */
    margin-right: .6rem;
    transition: all .5s ease;

}
.btn:hover{
    box-shadow: 0 3px 5px #ff5858;
}

.btn.outline{
    background: transparent;
    border: 3px solid #f857a6;
}

.socialLinks{
    position: fixed;
    right: 2rem;
    top: 40%;
    cursor: pointer;
}
.socialLinks ul li {
    transition: all 0.5s ease-in-out;
}

.socialLinks ul li:hover{
        transform: scale(1.3);
}
.socialLinks ul li img{
    width: 42px;
    height: 42px;
    margin-bottom: 1rem;
    padding: .35rem;
    border-radius: 50%;
    background-color: #f857a6;
    /* background-color: #fffcfe; */
    transition: all 0.5s ease-in-out;
}
.socialLinks ul li img:hover{
    box-shadow: 0 6px 6px #f857a6;
}


/* About me section */
.aboutMe{
    gap: 1rem;
    margin-top: 2rem;
    align-items: center;
    justify-content: space-between;
}

.aboutMe img {
    height: 600px;
    width: auto;
    object-fit: contain;
}
.abputMe .aboutMeImage{
    max-width: 50%;
    border-radius: 50%;
    margin-right: 2rem;
}
.aboutMeContent{
    padding-left: 8rem;
}
.aboutMeContent .heading{
    text-align: left;
    margin: 0;
    font-size: calc(var(--bigFont) - 0.2rem);
    /* text-wrap: nowrap; */
}

.aboutMecontent p {
    color:rgb(206, 205, 205);
    padding:1rem 0;
    line-height: 1.2;
}
.aboutMecontent h1{
    font-size: var(--bigFont);

}

.details ul li{
    margin: 0.5rem 0rem;
    align-items: center;
}
.details ul li span:nth-child(1){
    font-size: 1.2rem;
    color: #fff;
    margin-right: 0.9rem;
}
.details ul li span:nth-child(2){
    font-size: 0.9rem;
}

.projectNum{
    margin: 1rem 0rem;
    font-size: var(--meduimFont);
}

/* resume */
.resume{
    padding: 2rem 0rem;
}


.works{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
    margin: 1.7rem 0rem;
}
.works .card{
    padding: 1.5rem;
    height: 200px;
    border-radius: .9rem;
    background-color: #34495e;
    transition: all 0.5s ease;
}
.work .card:hover{
    box-shadow: 0 5px 5px #f857a6,
    0 10px 10px #f857a6;
}

.works .card .data{
    color: #f857a6;
    font-weight:900;
    font-size: 1.6rem;
}
.works .card h2{
    font-weight: 400;
    margin: .5rem 0rem;
}

.works .card .college{
color: #e29da7;
}

.works .card p{
    color: #d3d3d3;
    margin-top: 0.6rem;
}

.resume .button{
    display: flex;
    justify-content: center;
}
/* 
.skills{
    padding: 5rem 0rem;
} */
.skills h1{
    font-size: var(--bigFont);
}
.skills p {
    text-align: center;
    color: #d3d3d3;
    margin-top: 1rem;
}

.skills .container{
    position: relative;
    max-width: 700px;
    width: 100%;
    margin: 0 15px;
    padding: 40px 20px;
    border-radius: 7px;
    }

.container .skillBox{
    width:100% ;
    margin: 25px 0;
    }

    .skillBox .title{
        display: block;
        font-size: 14px;
        font-weight: 600 ;
        color:#fff;
    }
.skillBox .skillBar{
    height:8px ;
    width: 100%;
    border-radius: 6px;
    margin-top: 20px;
    margin-bottom: 20px;

    background: #e29da7;
}
.skillBar .skillPer{
    position: relative;
    display: block;
    width: 90%;
    height: 100%;
    border-radius: 6px;
    background: #f857a6;
    animation: progress 0.4s ease-in-out forwards;
    opacity: 0;
}

.skillPer.python{ width: 90%; animation-delay: 0.28s;}
.skillPer.django{ width: 50%; animation-delay: 0.3s;}
.skillPer.html{ width: 90%; animation-delay: 0.2s;}
.skillPer.css{ width: 80%; animation-delay: 0.1s;}
.skillPer.js{ width: 70%; animation-delay: 0.3s;}
.skillPer.react{ width: 60%; animation-delay: 0.2s;}
.skillPer.node{ width: 50%; animation-delay: 0.1s;}
.skillPer.mongo{ width: 20%; animation-delay: 0.5s;}
.skillPer.sql{ width: 70%; animation-delay: 0.2s;}
.skillPer.cPlusPlus{ width: 40%; animation-delay: 0.4s;}
.skillPer.linux{ width: 80%; animation-delay: 0.2s;}




@keyframes progress{
    0%{
        width: 0;
        opacity: 1;
    }
    100%{
        opacity: 1;
    }

}

.skillPer .tooltip{
    position: absolute;
    right: -14px;
    top: -28px;
    font-size: 9px;
    color: #fff;
    font-weight: 500;
    border-radius: 3px;
    padding: 2px 6px;
    background: #f857a6;
    z-index:1;
}

.tooltip::before{
    content: "";
    position: absolute;
    left: 50%;
    bottom: -2px;
    height: 10px;
    width: 10px;
    z-index: -1;
    background: #f857a6;
    transform: translateX(-50%) rotate(45deg);
}

 /* service */
 .service{
    box-shadow: inset -10px -10px 20px #ff6b81,
    inset 10px 10px 20px #ff6b81;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 65vh;
    padding: 2rem;
    background-color: #34495e;
    background-image: url(./images/m4.png);
    background-size: cover;
    background-repeat: no repeat;
    background-position: center;
    border-radius: 0.9rem;

 }

 .service h1{
    text-align: center;
    font-size: var(--bigFont);
 }
 .service-item-container p{
    font-size: var(--mediumFont);
    font-weight:800;
 } 
 .service p{
    font-size: 1.5rem;
    margin: 0.9rem 0rem;
 }
 /* contact form */
 .contactForm{
    margin: 1rem auto;
 }

 .contactText h1{
    font-size: var(--bigFont);
 }
 .contactText p{
    color: #d3d3d3;
    font-size: 1.1rem;
    margin: 1rem 0rem;
 }
.contactForm .message textarea{
    padding: 1rem 4rem;
    border-radius: 1rem;
    outline: none;
    margin: 1rem 0rem;
    height: 20vh;
}
 form{
    max-width: 70%;
    margin:0 auto;
    background: #34495e;
    border-radius: 1rem;
    padding: 3rem;

 }
 form input {
    padding: 1rem 4rem;
    border-radius: 40px;
    outline: none;
    margin: 1rem 0rem;
 }

 .inputGroup span{
    display: block;
    color: #e29da7;
 }

 /* copyright */
.copyright{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

 /* responsive web design */
 @media(max-width:700px){
.btn{
    margin-bottom: 1rem;
}
 }

 @media(max-width:750px){
    .hero{
        gap: 3rem;
        flex-direction: column-reverse;
    }
    .navlinks{
        display: none;

    }
    .aboutMe{
        flex-direction: column;

    }
    .works{
        grid-template-columns: repeat(1, 1fr);
    }
    .aboutMeImage{
        width: 400px;

    }
     }
